<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="true" >
    <test thread-count="20" parallel="classes" name="Test">
        <classes>
            <class name="TestCase1"/>
            <class name="TestCase2"/>
        </classes> 
    </test>
</suite>
